<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        ">

    <!-- 使用注解开发，不用配置controller，需要配置一个组件扫描器 -->
    <context:component-scan base-package="controller"/>
    <!--扩充注解驱动-->
    <mvc:annotation-driven/>
    <!--加载静态资源-->
    <mvc:default-servlet-handler />

    <!-- 定义文件解释器 -->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--&lt;!&ndash; 设置默认编码 &ndash;&gt;-->
        <!--<property name="defaultEncoding" value="utf-8"></property>-->
        <!--&lt;!&ndash; 上传图片最大大小5M&ndash;&gt;-->
        <!--<property name="maxUploadSize" value="5242440"></property>-->
    <!--</bean>-->

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置从项目根目录到指定目录一端路径 ,建议指定浅一点的目录-->
        <property name="prefix" value="/jsp/"></property>
        <!-- 文件的后缀名 -->
        <property name="suffix" value=".jsp"></property>
    </bean>
</beans>